.container {
  position: relative;
}

 .layoutContainer {
 padding-top: 70px;
 padding-bottom: 24px;
  }

.loading {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  .container {
    border-radius: 16px;
    width: 100%;
    min-height: 585px;
    background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
    display: flex;
    flex-direction: column;
  }
}


@media screen and (min-width: 1280px) {

  .layoutContainer {
    display: flex;
    padding-top: 112px;
    gap: 24px;
  }
}