.header {
  display: none;
}

.placeholderText {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



.list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  height: 496px;
  gap: 16px;
}

@media screen and (min-width: 768px) {

  .header {
      display: grid;
      grid-template-columns: 1fr 0.4fr 1fr 2fr 1fr 0.8fr;
      align-items: start;
      font-weight: 600;
      font-size: 16px;
    }

    .cont {
      padding: 32px 16px 32px 16px; 
    }

  .list {
    gap: 16px;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #508f8c;
    border-radius: 64px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 64px;
    background: linear-gradient(180deg, #294045 0%, #1e2f33 100%);
  }
}

@media screen and (min-width: 1280px) {

  .header {
    grid-template-columns: 1fr 0.5fr 1fr 2fr 1fr 1fr;
    align-items: start;
    font-weight: 600;
    font-size: 16px;
  }

    .cont {
      padding: 32px 27px 32px 27px; }

  .list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #508f8c;
    border-radius: 64px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 64px;
    background: linear-gradient(180deg, #294045 0%, #1e2f33 100%);
  }
}