.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(7px);
    background: linear-gradient(180deg, rgba(53, 83, 89, 0.4), rgba(59, 93, 99, 0.4));
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #508f8c;
    border-radius: 8px;
    width: 540px;
    position: relative;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 40px;
    padding-bottom: 46px;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.svg{
    stroke: #081222;
}

