.sidebar {
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
  padding-bottom: 27px;
}

.wrapper {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .sidebar {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .wrapper {
    width: 336px;
  }
}

@media screen and (min-width: 1280px) {
  .sidebar {
    flex-direction: column;
    max-width: 451px;
    padding: 0;
    justify-content: unset;
  }
  .wrapper {
    margin-top: 24px;
    width: 451px;
    min-height: 469px;
    background: var(--bg-gradient-355359);
    border-radius: 16px;
  }
}
